* {
    background-color: #262e42;
}

.nav-logo {
    width: 50%;
    height: auto;
}

.news-photo {
    width: 100%;
    height: auto;
    align-self: center;
}

.white-heading {
    color: #FFFFFF;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 2em;
}